* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body {
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 10px 10px;
  }
  
  .content {
    height: calc(100% - 40px);
    margin: 20px;
  }
  
  h2, h4 {
    text-align: center;
  }

  p {
    margin-top: 5px;
    font-size: 12px;
  }
  
  #lemon-icon {
    height: 20px;
  }
  
  .page-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  #log-form {
    margin-top: 35px;
  }
  
  .usr-pass {
    width: calc(100% - 6px);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(1, 1, 1, 0.3);
    outline: none;
    padding: 3px;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  
  #remember-forget {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .btn {
    margin-top: 5px;
    width: 100%;
    padding: 5px 0;
    background-color: #121212;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
  }
  
  .register {
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
  }

  .log-in {
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
  }